.tag-list a.button{
    margin: 0.1em;
    padding: 0.5em 0.5em;      
}
.tag-list a.button:hover{
    background: #337ab7;
    border: 1px solid #337ab7;
    color: #fff;
    text-decoration: none;
}
.tag-list .button {
    border-radius: 0.3em;
    border: 1px solid;
    display: inline-block;
  }
.go-tags{
    text-align: center;
}